.btn.btn-html {
  color: #ffffff;
  background-color: #F7941E;
  border-color: #F37511;
}
.btn.btn-html:hover {
  color: #ffffff;
  background-color: #F37511;
  border-color: #EF5C09;
}

.btn.btn-css {
  color: #ffffff;
  background-color: #27AAE1;
  border-color: #168DD4;
}
.btn.btn-css:hover {
  color: #ffffff;
  background-color: #168DD4;
  border-color: #0C75C7;
}

.btn.btn-layout {
  color: #ffffff;
  background-color: #1C75BC;
  border-color: #0F55A3;
}
.btn.btn-layout:hover {
  color: #ffffff;
  background-color: #0F55A3;
  border-color: #083E8D;
}

.btn.btn-images {
  color: #ffffff;
  background-color: #9E1F63;
  border-color: #801144;
}
.btn.btn-images:hover {
  color: #ffffff;
  background-color: #801144;
  border-color: #67092F;
}

.btn.btn-tables {
  color: #ffffff;
  background-color: #662D91;
  border-color: #471A71;
}
.btn.btn-tables:hover {
  color: #ffffff;
  background-color: #471A71;
  border-color: #310F58;
}

.btn.btn-forms {
  color: #ffffff;
  background-color: #262262;
  border-color: #161344;
}
.btn.btn-forms:hover {
  color: #ffffff;
  background-color: #161344;
  border-color: #0C0B2F;
}
.btn.btn-porfolio {
  color: #ffffff;
  background-color: #297770;
  border-color: #185750;
}
.btn.btn-porfolio:hover {
  color: #ffffff;
  background-color: #185750;
  border-color: #0E4039;
}