.btn.btn-html {
  color: #ffffff;
  background-color: #F7941E;
//   background-image: linear-gradient(to bottom, #7f3f98, #552a66);
  border-color: #F37511 #F37511 #F37511;
}
.btn.btn-html:hover {
  color: #ffffff;
  background-color: #F37511;
//   background-image: linear-gradient(to bottom, #552a66, #552a66);
  border-color: #EF5C09 #EF5C09 #EF5C09;
}
