.btn.btn-html {
  color: #ffffff;
  background-color: #F7941E;
  border-color: #F37511;
}
.btn.btn-html:hover {
  color: #ffffff;
  background-color: #F37511;
  border-color: #EF5C09;
}
.btn.btn-css {
  color: #ffffff;
  background-color: #27AAE1;
  border-color: #168DD4;
}
.btn.btn-css:hover {
  color: #ffffff;
  background-color: #168DD4;
  border-color: #0C75C7;
}
